
body {
    font-size: larger;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(40, 42, 46);
    color: #f5f5dc;
    position: fixed;
    z-index: 10;
    
}
.navbarItems {
    font-size: medium;
    cursor: pointer;
}
.navbarItems:hover {
    font-size: large;
}

#infoContent {
    height: 85vh; 
    display: flex; 
    padding-top: 15vh;
    padding-left: 100px; 
    padding-right: 100px;
    
}
#infoContent h2,h4{
    font-weight: 100;
}

.serviceContent {
    background-image: url(./images/backgroundImg.png);
    background-repeat: repeat;
    background-size: 200px;
    height: 80vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: beige;
    position: relative;
    
}

.service{
    width: 20vw;
}

.popUp {
    display: flex; 
    position: absolute; 
    background-color: rgb(255, 255, 255, 0.5); 
    color:beige;
    width: 60%;
    height: 70%;
    visibility: hidden;
    align-self: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1.5s ease;
    border-radius: 15px;
}
.popUp.show {
    opacity: 1;
    
    visibility: visible;
}

.popUp div {
    background-image: url(./images/backgroundImg.png);
    background-repeat: repeat;
    background-size: 200px;
}

.about {
    height: 100vh;
    display: flex;
    line-height: 2;
    padding-left: 100px; 
    padding-right: 100px;

}



#footer {
    display: flex;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(40, 42, 46);
    color: #f5f5dc;
    font-size: x-large;
    bottom: 0;
    left: 0;
    cursor: pointer;
    
}
